@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Questions</h1>
    <div class="custom-vstack" data-bind="foreach: questions">
        <div class="custom-hstack">
            <input type="checkbox" data-bind="checked: showAnswer" />
            <button data-bind="click: toggleAnswer, text: showAnswer() ? 'Hide Answer' : 'Show Answer'" class="btn btn-primary"></button>
            <span data-bind="text: Text, attr: { title: Hint }"></span>
            <span data-bind="text: Answer, visible: showAnswer"></span>
        </div>
    </div>
    
</div>

@section pagescripts {
    <script src="~/js/viewModels/question.js"></script>
}
